
Wreath.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
xcuserdata/
.build/
.DS_Store
Package.resolved
spacetime/data/nextIndex
.swiftpm/xcode/xcshareddata/xcschemes/
Wreath.xcodeproj/xcshareddata/xcschemes/